
.container{
    width:100wh;
    height: 100vh;
    background: url(../images/clouds.jpg);
    filter:opacity(90%);
    background-size: cover;
    background-repeat: no-repeat;
}


.row{
    height: 100%;
}

.image-container{
    color: rgba(20, 20, 20, 0.89);
    display:flex;
    text-align: center;
    justify-content:space-evenly;
    flex-direction: column;
    height: 100%;
}


i{
    font-size:200px;
    color: rgba(18, 18, 18, 0.8);


}

.form-container{
    padding-top:100px;
    height: 100%;
}

.info{
    margin-top:32px;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size:25px;
}
form input{
    display: block;
    float:left;
    background: transparent;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom-color: rgba(49, 97, 186, 0.9);
    margin:32px;
    outline: none;
    color: rgba(171, 0, 0, 0.9);
    text-transform: uppercase;
}

::placeholder {
    color:#8b0740;
    text-transform: none;
}
button{
    margin-left:48px;
    border-radius: 5%;
    background-color: rgba(80, 144, 206, 0.6);
    border-color:rgba(80, 144, 206, 0.8);
}
span{
    color: rgba(139, 6, 5, 0.9);
}
@media screen and (max-width: 576px) {

    .image-container, .form-container {
        height: auto;
    }
    i{
        margin-top:50px;
    }
    .form-container{
        padding-top: 0;
    }
    .form-container form{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

    }
    form input{
        margin:10px;
    }
    button{
        margin:auto;
    }
    p{
        margin-bottom: 0;
    }
}
