body{
    color:red;
}
img{

    height: 100px;
    width: 100px;
}
i{
    font-size:200px;

    color:silver;
}
.container{
    width:1100px;
    height: 90vh;
}
.title-container{

    background: deeppink;
    height: 80vh;
}
.form-container{
    padding-top:100px;
    height: 80vh;
    background: #5dffcf;
}
.wrapper{
    height: 100vh;
}
.main{
    height: 90vh;
}
.row{
    height: 80vh;
}
.col-sm-5.div{
    height: 100%;

}
.weather-800{
    background: url(../images/clouds&sun.jpg);
    background-size: cover;
}